mixin task_edit
	.task_edit
		.te-bg.bg
		.form
			.row
				.te-type.head Редактирование
			.row
				.caption Псевдоним
				.value
					span.te-alias
						| testtask
			.row
				.caption Описание
				.value
					input.te-description(value="123")
			.row
				.caption Строка запуска
					br
					small (по параметру в строке)
				.value
					textarea.te-cmdargs(cols="20" rows="5")
			.row
				.caption Переменные окружения
					br
					small (по переменной в строке var=val)
				.value
					textarea.te-env(cols="20" rows="5")
			.row
				.caption Приоритетный сервер
				.value
					select.te-priority("disabled"="true")
						option none
			.row
				.caption Режим запуска
				.value
					label
						input.te-radio-i(type="radio" name="start_type")
						| интервальный
					label
						input.te-radio-t(type="radio" name="start_type")
						| по времени
			.row
				.caption Интервальный запуск
				.value
					span(title="часы")
						| чч
						input.te-hi(value="12" maxlength="2")
					span(title="минуты")
						| мм
						input.te-mi(value="12" maxlength="2")
					span(title="секунды")
						| сс
						input.te-si(value="12" maxlength="2")
			.row
				.caption Временной запуск
				.value
					span(title="дни")
						| дд
						input.te-dt(value="12" maxlength="2")
					span(title="часы")
						| чч
						input.te-ht(value="12" maxlength="2")
					span(title="минуты")
						| мм
						input.te-mt(value="12" maxlength="2")
			.row
				.caption Таймаут (TTL)
					br
					small (в секундах)
				.value.left
					input.te-ttl.no100w(value="123" size="6")
			.row.but
				input.te-ok.ok(value="OK" type="button")
				input.te-cancel.cancel(value="Cancel" type="button")

mixin task_item
	.item
		.head
			span.t-alias alias-of-task
			.t-description.description Lorem ipsum dolor sit amet
			.menu
				.list
					.t-menu_edit.item Редактировать
					.t-menu_delete.item Удалить
		.wrap
			.t-time.time
				| тип запуска:
				.t-starttype интервал
				br
				.t-time-text(href="" onclick="javascript:return false") 10:30:00 2d
			.ctrl
				input.t-kill(type="button" value="kill")
				input.t-restart(type="button" value="restart")
				label.switch
					input.t-enabled(type="checkbox")
					.slider
			.stat.client
				a.t-client(href="") test-client1
				br
				| pid:
				span.t-pid 1234
				br
				//| RAM:
				//span.t-ram 10
				//| MB
			.stat.script
				span.starttime starttime:
					span.t-starttime 10:30:21
				br
				span.runtime runtime:
					span.t-runtime 1:03:29
				br
				span.endtime endtime:
					span.t-endtime 1:03:29
				br
				a.t-logout(href="") log-out:
					span.t-log-stdout 33802
				br
				a.t-logerr(href="") log-err:
					span.t-log-stderr 324
				br
			.cmd_args
				xmp.t-env.env
					| ENV1=Lorem ipsum dolor.
				xmp.t-cmdargs
					| /usr/bin/command
					| /home/dev/script.php

mixin client_item
	.item
		.head
			span.c-alias test-server1
			.c-active.status.red
		.stat
			span.c-ip 127.0.0.1
			| &nbsp;| loadavg:
			span.c-loadavg
				| 0.5 0.2 0.1
			| &nbsp;| uptime:
			span.c-uptime
				| 70 days
			| &nbsp;|&nbsp;
			a(href="") tasks:
				span.c-tasks 25
		.ctrl
			label.switch
				input.c-enabled(type="checkbox")
				.slider
		.tasks
			| sdf

doctype html
html
	head
		link(href="/css/style.css" rel="stylesheet")
		meta(charset="utf-8")
		script(src="/js/jquery.js")
		script(src="/js/functions.js")
		script(src="/js/controls.js")
		script(src="/js/tasks.js")
		script(src="/js/clients.js")
		script(src="/js/common.js")
		title Octopus Control
	body#body
		.head Octopus Control
		.content#content
			.menu
				.tabs
					.tab(sheet="tasks") Задачи
					.tab(sheet="clients") Обработчики
				.ctrl
					button(id="newtask" title="Добавить задачу")
						img(src="/images/add.png")
					| Запуск заданий
					label.switch
						input(id="enabled" type="checkbox" checked=(enabled))
						.slider
					button(id="killall")
						| Убить все
						br
						| задачи
		.foot

		script(id="Tasks" type="html/template")
			.tasks.tabsheet
		script(id="Task" type="html/template")
			+task_item
		script(id="TaskEdit" type="html/template")
			+task_edit

		script(id="Clients" type="html/template")
			.clients.tabsheet
		script(id="Client" type="html/template")
			+client_item
