mixin task_time
	.select
		label
			input(type="radio" value="interval")
			| &nbsp;интервал
		.input
			input(type="text" value="10" maxlength="2")
			|:
			input(type="text" value="10" maxlength="2")
			|:
			input(type="text" value="10" maxlength="2")
		label
			input(type="radio" value="totime")
			| &nbsp;по времени
		.input
			input(type="text" value="10" maxlength="2")
			|:
			input(type="text" value="10" maxlength="2")
			|:
			input(type="text" value="10" maxlength="2")
			| &nbsp; &nbsp;
			input(type="text" value="10" maxlength="2")
		label
			input(type="radio" value="manual")
			| &nbsp;ручной
		.input
			input(type="button" value="OK")
			| &nbsp;
			input(type="button" value="Отмена")

mixin task_item
	.item
		.head
			span.t-alias alias-of-task
			.t-description.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum atque ea consequatur alias ad dicta explicabo quibusdam, voluptatum repellat natus.
		.wrap
			.t-time.time
				a.t-time-text(href="" onclick="javascript:return false") 10:30
			.ctrl
				input.t-kill(type="button" value="kill")
				input.t-restart(type="button" value="restart")
				label.switch
					input.t-enabled(type="checkbox")
					.slider
			.stat.server
				a.t-server(href="") test-server1
				br
				| pid:
				span.t-pid 1234
				br
				| RAM:
				span.t-ram 10
				| MB
			.stat.script
				span.starttime starttime:
					span.t-starttime 10:30:21
				br
				span.runtime runtime:
					span.t-runtime 1:03:29
				br
				span.endtime endtime:
					span.t-endtime 1:03:29
				br
				a.t-logout(href="") log-out:
					span 33802
				br
				a.t-logerr(href="") log-err:
					span 324
				br
			.cmd_args
				xmp.t-env.env
					| ENV1=Lorem ipsum dolor.
					| ENV2=Lorem ipsum dolor sit amet.
					| ENV3=Lorem ipsum.
					| ENV4=Lorem ipsum dolor sit amet, consectetur adipisicing.
					| ENV5=Lorem ipsum dolor sit amet.
					| ENV5=Lorem ipsum dolor sit amet.
				xmp.t-cmdargs
					| /usr/bin/command
					| /home/dev/script.php
					| string arg1
					| string  Lorem ipsum dolor.
					| int arg3
					| string arg4
					| Lorem ipsum dolor sit amet, consectetur adipisicing.

mixin client_item
	.item
		.head
			span.c-alias test-server1
			.c-active.status.red
		.stat
			span.c-ip 127.0.0.1
			| &nbsp;| loadavg:
			span.c-loadavg
				| 0.5 0.2 0.1
			| &nbsp;| uptime:
			span.c-uptime
				| 70 days
			| &nbsp;|&nbsp;
			a(href="") tasks:
				span.c-tasks 25
		.ctrl
			label.switch
				input.c-enabled(type="checkbox")
				.slider
		.tasks
			| sdf

doctype html
html
	head
		link(href="/css/style.css" rel="stylesheet")
		meta(charset="utf-8")
		script(src="/js/jquery.js")
		script(src="/js/functions.js")
		script(src="/js/controls.js")
		script(src="/js/tasks.js")
		script(src="/js/clients.js")
		script(src="/js/common.js")
		title Octopus Control
	body
		.head Octopus Control
		.content#content
			.menu
				.tabs
					.tab.sel(sheet="tasks") Задачи
					.tab(sheet="clients") Сервера
				.ctrl
					| Запуск заданий
					label.switch
						input(id="task_enabled" type="checkbox")
						.slider
					button(id="task_killall")
						| Убить все
						br
						| задачи
		.foot

		script(id="Tasks" type="html/template")
			.tasks.tabsheet
		script(id="Task" type="html/template")
			+task_item
		script(id="TaskTime" type="html/template")
			+task_time

		script(id="Clients" type="html/template")
			.clients.tabsheet
		script(id="Client" type="html/template")
			+client_item
