doctype html
html
	head
		title
			| Octopus Control - test
	body
		| Octopus Control - test
		br
		br
		textarea(id="log" cols="60" rows="30")
		script
			| document.getElementById('log').value='';
			| const get=url =>
			| {
			|  var ax=new XMLHttpRequest();
			|  ax.open('GET',url,true);
			|  ax.onreadystatechange=() => { if(ax.readyState==4) document.getElementById('log').value+=(ax.status==200 ? ax.responseText : ax.status+':'+ax.statusText)+'\n'; };
			|  ax.send();
			| }
			| get('/json/test');
			| get('/json/config');