module.exports=
	{
		connection:
		{
			// адрес сервера
			server_host: '127.0.0.1',
			// порт сервера
			port: 6778,
			// порт управляющего веб-клиента
			port_http: 1188
		},

		// таймаут (мс) автоматического завершения процессов(клиенты)/сброса состояний(сервер) при разрыве соединения
		autokill: 5000,

		// сохранять состояние переключателей активности клиентов
		saveserv_status: true,

		// пользователи для аутентификации в веб-клиент
		users:
		{
			// admin: 'password'
		}
	};